@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
  --font-gochi: var(--font-gochi);

  --color-slate-950: #020617;
  --color-cyan-400: #22d3ee;
  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
}

body {
  background-color: var(--color-slate-950);
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}